@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primaryBlue: #004B70;
$white: #FFFFFF;
$secondaryBlue: #008FA3;
$lightblue: #C3E7F0;
$darkgray: #343638;

@font-face {
    font-family: 'Whiskey Girls Semi Italic';
    src: url('/fonts/whiskeygirlssemital.ttf') format('truetype');  // Nota: El formato aquí cambió a 'truetype' debido a la extensión .ttf
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Gotham Rounded Book */
@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('/fonts/Gotham Rounded Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//HOME

/* styles.css */
.line1 {
    font-family: 'Whiskey Girls Semi Italic';
    color: $secondaryBlue;
    font-size: 40px;
    
    
}

.line2, .line3 {
    font-family: 'Gotham Rounded Book';
    color: $darkgray;
    font-size: 30px;
    font-weight: 700;
    
} 

.logo {
    animation: latido 3s infinite;
    animation-play-state: paused; 
  }
  
  @keyframes latido {
    0%, 100% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.2); 
    }
  }

  @media (max-width: 768px) {
    .line1{
      font-size: 20px;
      text-align: center;
    }
    .line2,
    .line3 {
      font-size: 12px;
      text-align: center; 
    }
  }

  @media only screen and (max-width: 767px) {
    .logo {
      display: none !important;
    }
  }