@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet');
/* TAILWIND CSS LINKS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* SLICK CAROUSEL LINKS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/*Phone codes*/
@import 'react-phone-input-2/lib/bootstrap.css';

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  background-color: none;
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  opacity: 1.9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  padding: 0px !important;
  /* height: 20px; */
  z-index: 3;
}
html:not([data-scroll="0"]) .navbar>div>div {
  height: 3rem;
}

html:not([data-scroll="0"]) .border-right {
  height: 4rem;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body, html {
  background-color: #ffffff;
}

.navbar {
  border-bottom: 0.5px solid rgba(196, 196, 196, 0.75);
  ;
}
.titulo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 40px;
}

.titulo2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}


.form-email-input input,
.password-input-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem; 
  box-shadow: none;
   
  /* Ajusta el tamaño del padding y el valor del border-radius según tus preferencias */
}

.form-email-input2 input {
  width: 100%;
  padding: 0.5rem;
  border-right: 1px solid #a31919;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem; 
  box-shadow: none;
   
  /* Ajusta el tamaño del padding y el valor del border-radius según tus preferencias */
}

.password-input-container {
  position: relative;
}

.toggle-password-visibility {
  position: absolute;
  right: 10px;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border: none;
}

.logo {
  /* Styles for the logo */
  width: 254px; /* Adjust as necessary */
  height: auto; /* Adjust as necessary */
}

.centered-button2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.centered-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
.btn-login2 {
  background-color: #697bad; /* Ajusta el color según tus necesidades */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
  transition: background-color 0.2s;
}

.recover-password-link {
  text-align: right;
  margin-bottom: 5px; /* Ajusta el espaciado según tus necesidades */
}

.recover-password-link a {
  color: #697bad; /* Ajusta el color según tus necesidades */
  text-decoration: underline;
}

.btn-login {
  background-color: #697bad; /* Ajusta el color según tus necesidades */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
  transition: background-color 0.2s;
}

.btn-login:hover {
  background-color: #153E90; /* Ajusta el color de hover según tus necesidades */
}

.btn-register {
  background-color: #697bad; /* Ajusta el color según tus necesidades */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
  transition: background-color 0.2s;
}

.btn-register:hover {
  background-color: #153E90; /* Ajusta el color de hover según tus necesidades */
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  margin-top: 40px;
}

.divider::before,
.divider::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #ccc; /* Ajusta el color según tus necesidades */
}

.divider span {
  margin: 0 10px;
  color: #ccc; /* Ajusta el color según tus necesidades */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons .icon {
  margin: 0 5px;
  font-size: 28px;
  color: #ccc; /* Ajusta el color según tus necesidades */
}

.bg-white2 {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 2rem); /* Resta el margen vertical del modal */
  display: flex;
  padding: 0; /* Elimina el relleno */
}

.form-section {
  background-color: white;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  overflow: hidden; /* Para ocultar cualquier contenido que sobresalga del contenedor */
}



.hover-underline {
  display: inline-flex;
  position: relative;
  /* color: #ffffff; */
  justify-content: center;
  align-items: center;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.preline:before {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #000000;
  ;
  left: 4px;
  top: 72%;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .preline:before {
    display: none;
  }
}

.comma-pos {
  top: -40px;
  left: -121px;
}

.border-right {
  border-right: 1px solid rgba(196, 196, 196, 0.55);
  height: 117px;
  padding-right: 70px;
}

@media only screen and (max-width: 1150px) {
  .border-right {
    height: 0px;
    border-right: 0px solid rgba(196, 196, 196, 0.55);
  }
}

.pd76 {
  padding-right: 76px !important;
}

.navbutton {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.navlinks {
  color: rgba(0, 0, 0, 0.75);
}

.bg-digital {
  background-image: url("/images/digital/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-build {
  background-image: url('/images/beliefs/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
}

.girldoodle {
  top: 12px;
  right: -115px;
}

.marginFeature {
  margin-top: -500px;
}

@media only screen and (max-width: 700px) {
  .marginFeature {
    margin-top: -48px;
  }
}

.pb-70 {
  padding-bottom: 18rem;
}

.bg-beliefs {
  background-image: url('/images/beliefs/swirls.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.position-linkedin {
  right: 60px;
  bottom: -57px;
}

.bg-wework {
  background-image: url('/images/wework/elipse.svg'), url('/images/wework/vector.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top right;
}

.bg-featured {
  background-image: url('/images/wework/vector.svg');
  background-repeat: no-repeat;
  background-position: 100% 35%;
}

.feature-margin {
  margin-top: -480px;
}

@media only screen and (max-width: 768px) {
  .feature-margin {
    margin-top: -300px;
  }
}

.nextarrow {
  background-color: aqua;
}

.faq-bg {
  background-image: url('/images/faq/swirl.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-testimonial {
  background-image: url('/images/wework/elipse.svg'), url('/images/testimonial/boy.svg'), url('/images/testimonial/girl.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 55%, 84% 26%, 12% 18%;
}

@media only screen and (max-width: 1400px) {
  .bg-testimonial {
    background-position: 80%, top right, top left;
  }
}


.manageTabs {
  border: 1px solid #DBDBDB;
  box-shadow: 0px 4px 5px 1px rgba(193, 193, 193, 0.35);
  border-radius: 20px;
}

.test-pos {
  left: 42px;
  top: 44px;
}

.test-sha {
  box-shadow: 0px 5px 10px rgba(89, 104, 118, 0.05);
}

.star {
  filter: invert(79%) sepia(53%) saturate(1095%) hue-rotate(330deg) brightness(101%) contrast(96%);
}

.article-img {
  top: 225px;
  right: 30px;
}

.w-345 {
  width: 700px;
}

.bg-joinus {
  background-image: url('/images/joinus/horn.svg'), url('/images/joinus/paint.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 84% 109%, 12% 18%;
}

.footer-icons {
  box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-icons {
  transition: .5s;
}

.footer-icons:hover {
  transform: translateY(-8px);
}

.space-links {
  transition: .3s;
}

.space-links:hover {
  letter-spacing: 1px;
}

.dance-text {
  font-family: 'Dancing Script', cursive !important;
  transform: rotate(-10.06deg);
  text-align: center;
  margin-left: -340px;
}

@media only screen and (max-width: 466px) {
  .dance-text {
    margin-left: -265px;
  }
}

.toggleImage {
  position: absolute;
  right: 47rem;
  top: 2rem;
}

@media only screen and (max-width: 1250px) {
  .toggleImage {
    display: none;
  }
}

.joinButton {
  padding: 20px 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .joinButton {
    padding: 20px 92px;
  }
}


/* SLICK  */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -70px !important;
}

.slick-prev {
  left: -60px !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 17px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
}




.imageContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.imageContainer Image {
  width: 100%;
  vertical-align: top;
}

.imageContainer:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 20px;
}

.imageContainer:hover:after {
  opacity: 1;
}

.imageContainer:hover>a>button {
  display: block;
}

.manage > div:nth-child(2) {
  background-color: #00224A!important;
  color: #ffffff;
}

.manage > div:nth-child(2) button {
  color: #ffffff;
}

.manage > div:nth-child(2) h3 {
  color: #747474;
}



/*desce aca*/
.phone-input-container {
  position: relative;
  width: 100%;
  box-shadow: none !important;
  border: none !important;
}

.phone-input-container .react-tel-input {
  border: none !important;
  box-shadow: none !important;
}

.phone-input-container .flag-dropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  box-shadow: none !important;
}

.phone-input-container input.form-control {
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 8px;
  width: 100%;
  outline: none;
  padding: 18.5px 14px 18.5px 60px;
  transition: box-shadow ease .25s, border-color ease .25s;
  color: #495057;
  box-shadow: none !important;
}

.phone-input-container input.form-control:focus {
  background-color: #fff;
  border-color: #0c0c0c;
  outline: none;
  box-shadow: none !important;
}

.phone-input-container input.form-control.invalid-number {
  box-shadow: none !important;
}

.phone-input-container .selected-flag {
  outline: none;
  position: relative;
  width: 52px;
  height: 100%;
  padding: 0 0 0 11px;
  border-radius: 3px 0 0 3px;
  box-shadow: none !important;
}

.phone-input-container .selected-flag:before,
.react-tel-input .phone-input-container .selected-flag:before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  width: 100%;
  border-radius: 4px 2px 2px 4px;
  border: none !important;
  transition: box-shadow ease .25s, border-color ease .25s;
  box-shadow: none !important;
}

.react-tel-input .selected-flag:focus:before,
.react-tel-input .selected-flag.open:before {
  border-color: none !important;
  box-shadow: none !important;
}

.phone-input-container .country-list {
  outline: none;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 10px 0 10px -1px;
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 300px;
  max-height: 220px;
  overflow-y: scroll;
  border-radius: 7px;
  box-shadow: none !important;
}

.phone-input-container .country-list .country {
  position: relative;
  padding: 12px 9px 13px 46px;
  box-shadow: none !important;
}

.phone-input-container .country-list .country:hover,
.phone-input-container .country-list .country.highlight {
  background-color: #f1f1f1;
  box-shadow: none !important;
}

.phone-input-container .country-list .country .flag {
  display: inline-block;
  position: absolute;
  left: 13px;
  top: 8px;
  box-shadow: none !important;
}

.phone-input-container .country-list .country .dial-code {
  color: #6b6b6b;
  box-shadow: none !important;
}

.phone-input-container .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  box-shadow: none !important;
}

.phone-input-container .country-list .search {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px 0 6px 10px;
  box-shadow: none !important;
}

.phone-input-container .country-list .search-box {
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-size: 15px;
  line-height: 15px;
  margin-left: 6px;
  padding: 3px 8px 5px;
  outline: none;
  box-shadow: none !important;
}

.phone-input-container .country-list .no-entries-message {
  padding: 7px 10px 11px;
  opacity: .7;
  box-shadow: none !important;
}

.phone-input-container .invalid-number-message {
  position: absolute;
  z-index: 1;
  font-size: 13px;
  left: 25px;
  top: -7px;
  background: #fff;
  padding: 0 5px;
  color: #de0000;
  box-shadow: none !important;
}

.phone-input-container .special-label {
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 13px;
  left: 25px;
  top: -7px;
  background: #fff;
  padding: 0 5px;
  white-space: nowrap;
  box-shadow: none !important;
}

.phone-input-container .flag-dropdown .selected-flag .arrow {
  display: block;
  box-shadow: none;
  box-shadow: none !important;
}

.bannerContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sliderElement {
  position: relative;
  width: 100%;
  height: 100%;
}



/* Banner */
.arrow2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 0, 255, 0.4);
  padding: 12px;
  border-radius: 50%;
}

.arrow2 svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .arrow2 svg {
      width: 9px;
      height: 9px;
  }
}

.title-container {
  position: absolute;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 4em;
}

@media screen and (max-width: 768px) {
  .desktop-title {
      display: none;
  }
  
  .desktop-title::after {
      content: "";
      display: block;
      height: 200px; 
  }
}

  .slider-container {
      margin-top: 50;
  }


  .center .slick-center {
    margin-left: 20px;  
    margin-right: 20px; 
}

.slider-card {
  margin: 0 30px !important;
}

/* Carrousel */
.buttonNextPrev {
  background-color: navy;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;  /* Esto centra el texto verticalmente */
  text-align: center; /* Esto centra el texto horizontalmente */
  border-radius: 50%; /* Esto hace el botón circular */
  border: none;
  cursor: pointer;
  opacity: 0.8; /* Esto hace que el botón sea un poco transparente */
  transition: background-color 0.5s, opacity 0.5s; /* Transiciones suaves al cambiar el color de fondo y la opacidad */

  /* Permite el posicionamiento absoluto de los botones */
  position: absolute;
  top: 70%;  /* Centra el botón verticalmente */
  transform: translateY(-50%);  /* Centra el botón verticalmente */
}

.buttonNextPrev:hover {
  background-color: lightblue; /* Cambia el color de fondo en hover */
  opacity: 1; /* Aumenta la opacidad en hover */
}

.buttonNextPrev:active {
  opacity: 0.6; /* Disminuye la opacidad cuando se hace clic en el botón */
}

/* Posiciona el botón "Prev" a la izquierda del carrusel */
.buttonNextPrev:first-child {
  left: -25px;  /* Ajusta esto según la distancia deseada del borde */
  z-index: 1;
}

/* Posiciona el botón "Next" a la derecha del carrusel */
.buttonNextPrev:last-child {
  right: -25px;  /* Ajusta esto según la distancia deseada del borde */
  z-index: 1;
}

.carrouselContainer {
  width: 95%;  /* Ancho del carrusel será el 90% del ancho de la página */
  margin: 200px auto;  /* Centra el carrusel en la página */
  padding: 24px;  /* Agrega un relleno alrededor del carrusel */
  border-radius: 30px;  /* Agrega bordes redondeados al carrusel */
  background-color: #f7f4f4;  /* Color de fondo claro para el carrusel */
  position: relative;  /* Permite el posicionamiento absoluto de los elementos hijos en relación a este contenedor */
}

.abouttext {
  font-size: 1.325rem; /* Equivalente a 'text-lg' en Tailwind CSS */
  text-align: center; /* Centra el texto */
  color: #1D4ED8; /* Equivalente a 'text-blue' en Tailwind CSS */
  letter-spacing: 0.05em; /* Aumenta el espaciado entre letras, equivalente a 'tracking-widest' en Tailwind CSS */
  font-weight: normal; /* Hace que la fuente tenga el peso normal, puedes cambiar esto si quieres que sea bold, etc. */
  margin-bottom: 1em; /* Añade un poco de espacio debajo del heading */
}

.subabouttext {
  font-size: 4.25rem; /* Equivalente a 'text-4xl' en Tailwind CSS */
  text-align: center; /* Centra el texto */
  font-weight: bold; /* Equivalente a 'font-bold' en Tailwind CSS */
  margin-top: 0.3em; /* Añade un poco de espacio encima del heading */
  margin-bottom: 1em; /* Añade un poco de espacio debajo del heading */
}

.carouselabbout {
  display: flex;  
  align-items: stretch;  
  justify-content: center;  
  width: 100%;  
  background-color: transparent;  
  padding: 1em;  
  overflow: hidden; /* Permite el desplazamiento horizontal */
  white-space: nowrap; /* Evita que los elementos se ajusten a la siguiente línea */
  overflow-x: auto;  /* Añade desplazamiento solo horizontal y auto oculta la barra cuando no se necesita */
  scrollbar-width: none;  /* Oculta la barra de desplazamiento en Firefox */
  -ms-overflow-style: none;  /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
  justify-content: space-around;
  
}
.carouselabbout::-webkit-scrollbar {
  display: none;
}

.aboutcard {
  background-color: white;
  border-radius: 1em; 
  height: 350px;
  padding: 1.25rem 0.625rem;
  transition: background-color 0.3s;
  margin: 0 15px;
  width: calc((100% / 5) - 50px);  /* 5 es el número de tarjetas que se muestran a la vez, 30px es el margen total (15px a cada lado) */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; 
  flex: 1 0 20%;
}

.about-card-heading, .about-card-paragraph {
  font-size: 1rem; 
  font-weight: 400; 
  color: #000; 
  margin-bottom: 1.25rem; 
  transition: color 0.3s; 
  word-wrap: break-word;
  white-space: normal; 
}

.about-card-heading {
  font-size: 1.875rem; /* Equivalente a 'text-3xl' en Tailwind CSS */
  font-weight: 600; /* Equivalente a 'font-semibold' en Tailwind CSS */
  color: #000; /* Equivalente a 'text-black' en Tailwind CSS */
  margin-bottom: 1.25rem; /* Equivalente a 'mb-5' en Tailwind CSS */
  transition: color 0.3s; /* Para una transición suave del color de texto */
}

.about-card-heading:hover {
  color: #fff; /* Cambia el color del texto a blanco en hover */
}

.aboutcard:hover {
  background-color: rgba(45, 45, 143, 0.719); /* Cambia el color de fondo a navy en hover */
  /* Nota: 'group-hover:text-white' se maneja en la sección .group:hover a continuación */
}

.aboutcard:hover .text-black {
  color: white; /* Cambia el color del texto a blanco en hover */
}

.aboutcard:hover .text-offwhite {
  color: #F7F7F7; /* Cambia el color del texto a off-white en hover */
}



.about-card-paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1.25rem;
  transition: color 0.3s;
  overflow-wrap: break-word;
}

.about-card-paragraph:hover {
  color: #F8F8F8;
}

.aboutcardContainer {
  display: inline-flex;
  transition: transform 0.3s ease-out;
  width: 100%;
}


/* Estilos del contenedor del menú */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.menu-text {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s;
  width: 0;
}



.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50px;
  z-index: 10;
  background-color: none; 
  box-shadow: none;
  animation: fadeIn 0.5s forwards;
  width: auto;  /* Esto hará que el ancho se ajuste automáticamente al contenido */
  min-width: 50px;  /* Asegura que tenga al menos este ancho */
  max-width: 250px;  /* Esto asegura que tenga al menos 120px de ancho, ajusta según tu necesidad */
  transition: opacity 0.3s ease; /* Esta línea crea la transición */
    opacity: 1; 
}

.dropdown-menu.fade-out {
  opacity: 0;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;  /* Agrega padding superior e inferior para separación */
}

.dropdown-item {
  background-color: none;
  box-shadow: none;
  display: inline-flex;  /* Esto hará que el ítem se ajuste automáticamente al tamaño de su contenido (icono + texto) */
  margin: 5px 0;  /* Añade un pequeño margen entre ítems para que no se toquen */
  position: relative;
}

.menu-item {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  animation: fadeIn 2s forwards;
}
.menu-link-container {
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 40px;
  vertical-align: middle;
  font-size: 40px;
  
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Retrasos para la aparición de los ítems */
.menu-item:nth-child(1) {animation-delay: 0s;}
.menu-item:nth-child(2) {animation-delay: 1s;}
.menu-item:nth-child(3) {animation-delay: 2s;}
.menu-item:nth-child(4) {animation-delay: 3s;}
.menu-item:nth-child(5) {animation-delay: 4s;}
.menu-item:nth-child(6) {animation-delay: 5s;}
.menu-item:nth-child(7) {animation-delay: 6s;}


/* Hover effect */
.menu-item:hover {
  background-color: none; /* No hay fondo en hover */
  color: #16163b; /* Cambia a tu color deseado al pasar el ratón */
  text-decoration: none;
  font-size: 20px;
}

.menu-link-container:hover > Link {
  opacity: 1;
  transform: translateX(0);
}

.menu-link-container:hover .menu-text {
  opacity: 1;
  transform: translateX(0);
}

.dropdown-item:hover .menu-text {
  width: auto;
  left: 70%;  /* Ajusta este valor según el espacio que quieras entre el ícono y el texto */
}


/* Header animated */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

/* Icon */

.hb {
  width: 50px;
  margin: 0 auto;
  display: block;
  position: absolute;
  color: #000; /* Este es el color que tomará el SVG gracias a "currentColor". */
  right: -60px; /* Alinea el SVG a la derecha */
  top: 55%; /* Centrarlo verticalmente */
  transform: translateY(-50%); /* Centrarlo verticalmente */
}

.hb:hover {
  stroke-width: 1.2; /* o el valor que actives la animación */
  color: #313ab9;
}

.menu-container:hover .hb {
  stroke-width: 0.6; /* o el valor original de strokeWidth */
  stroke: #313ab9;
}