// LanguageSwitcher.module.scss

.languageSwitch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    // Aquí puedes agregar más estilos según tu diseño
  }
  
  .icon {
    margin-right: 10px;
    // Agrega tus estilos personalizados para el ícono aquí
  }
  