@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primaryBlue: #0389E5;
$white: #FFFFFF;
$secondaryBlue: #22B0FF;
$lightblue: #C3E7F0;
$darkgray: #343638;

@font-face {
    font-family: 'Whiskey Girls Semi Italic';
    src: url('/fonts/whiskeygirlssemital.ttf') format('truetype');  // Nota: El formato aquí cambió a 'truetype' debido a la extensión .ttf
    font-weight: normal;
    font-style: italic;
}

/* Gotham Rounded Book */
@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('/fonts/Gotham Rounded Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


//Navbar

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    transition: all 0.3s ease-in-out;
    z-index: 50;

    &.bg-navbar-blue {
        background-color: $primaryBlue;
    }

    &.bg-navbar-dark {
        background-color: $darkgray;
    }
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-left: 8px;
    margin-right: 16px;

    @media (min-width: 1024px) {
        margin-left: auto;
        margin-right: auto;
    }

    .menu-container {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;

        .dropdown-menu {
            border: none;
            background-color: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            .dropdown-list {
                padding: 0;
                margin: 0;
                list-style: none;

                .dropdown-item {
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: $secondaryBlue;
                    }

                    .menu-link-container {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: inherit;

                        .menu-icon {
                            margin-right: 10px;
                            font-size: 1.5em;
                            
                        }

                        .menu-text {
                            font-size: 1.2em;
                           
                        }
                    }
                }
            }
        }
    }

}

.navbar-logo {
    height: 90px;
    transition: all 0.3s ease-in-out;

    .navbar-container.bg-navbar-blue & {
        height: 32px;
    }
}

.social-icons {
    display: none;
    gap: 16px;
    color: $secondaryBlue;

    >*:not(:last-child) {
        margin-right: 16px; // Esto añade margen a la derecha de todos los ítems excepto el último.
    }

    @media (min-width: 1024px) {
        display: flex;
        margin: 0 auto;
    }

    a {
        transition: transform 0.3s ease;

        &:hover {
            color: $lightblue;
            transform: scale(1.1); // El ícono se hará un 10% más grande.
        }
    }
}


.auth-buttons {
    display: flex;

    .login-btn,
    .register-btn {
        display: none;

        @media (min-width: 1024px) {
            display: inline-block;
        }
    }
}

//transiciones
.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section {
    background-image: url('/bg/bghome.jpg');
    background-size: cover;  /* Cubre todo el espacio disponible sin deformarse */
    background-position: center;  /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    filter: grayscale(100%);
}

//Home
.section.home-section {
    width: 100vw;
    /* 100% del ancho de la ventana del navegador */
    height: 100vh;
    /* 100% de la altura de la ventana del navegador */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrar contenido verticalmente */
    align-items: center;
    /* Centrar contenido horizontalmente */
}

.line1 {
    font-family: 'Whiskey Girls Semi Italic';
    color: $lightblue;
    font-size: 40px;
    line-height: 1;
}

.line2 {
    font-family: 'Gotham Rounded Book';
    color: $lightblue;
    font-size: 20px;
}

.line3 {
    font-family: 'Gotham Rounded Book';
    color: $lightblue;
    font-size:15px;
}


.line {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.line.show {
    opacity: 1;
}